    .row.m-3.border-bottom {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--surface-border);
    }

    .row.m-3.border-bottom:last-child {
        border-bottom: none;
    }

    .row.m-3.border-top.border-bottom.fs-5 {
        font-weight: bold;
    }

    /* CSS for order summary */
    .row.m-3.border-top.border-bottom.fw-bold {
        font-weight: bold;
    }

    .row.m-3.border-bottom.fw-bold {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--surface-border);
    }

    .row.m-3.border-bottom.fw-bold:last-child {
        border-bottom: none;
    }

    #cartTotal {
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
    }